<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnologia - Blog App</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/script/index.js" defer></script>
</head>
<body>
    <%- include('partials/header') %>

    <main class="container max-width">
        <section class="main-column">
            <article class="post">
                <%- include('partials/msg') %>
                <% if(typeof user == 'object') { %>
                    <h2 class="title">Olá, seja bem-vindo(a) 
                        <span class="destaque"><%= user.author_name %></span>
                    </h2>
                    <div class="box-info">
                        <p>Email: <%= user.email %></p>
                        <p>Data de cadastro: <%= user.created_at %></p>
                    </div>
                <% } %>
            </article>
        </section>
    </main>

    <%- include('partials/footer') %>
</body>
</html>